<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fly-Away</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="d-flex flex-row">
    <div th:replace="~{common/side-bar :: sidebar}" ></div>
    <div class="container-fluid col">
        <div th:replace="~{common/header :: header(${'Incluir Piloto'})}"></div>
        <div class="container m mt-5">

            <div class="form-floating mb-3 col-3">
                <input type="text" class="form-control" id="pilot_name" placeholder="Fulano de Tal">
                <label for="pilot_name">Nome</label>
            </div>

            <div class="form-floating mb-3 col-3">
                <input type="text" class="form-control" id="pilot_id" placeholder="12345">
                <label for="pilot_id">Identificador</label>
            </div>

            <div class="form-floating mb-3 col-3">
                <input type="text" class="form-control" id="pilot_phone_number" placeholder="55+(11)1234-1234">
                <label for="pilot_phone_number">Telefone</label>
            </div>

            <div class="container d-flex justify-content-center">
                <button type="button" class="btn btn-warning">Incluir</button>
            </div>

        </div>
    </div>
</div>
</body>

</html>
