<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fly-Away</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="d-flex flex-row">
    <div th:replace="~{common/side-bar :: sidebar}" ></div>
    <div class="container-fluid col">
        <div th:replace="~{common/header :: header(${'Tela Inicial'})}"></div>
        <div class="container-fluid m mt-5">
            <div class="container text-center">
                <div class="row row-cols-3 justify-content-center">
                    <div class="col btn btn-success btn-sm btn-fixed-size">Incluir Piloto</div>
                    <div class="col btn btn-success btn-sm btn-fixed-size">Incluir Aeronave</div>
                    <div class="col btn btn-success btn-sm btn-fixed-size">Criar Voo</div>
                    <div class="col btn btn-success btn-sm btn-fixed-size">Extrair Voos</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
