<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fly-Away</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="nav justify-content-center">
    <a class="nav-link active" href="flights.html" th:href="@{/flights}" >Flights</a>
    <a class="nav-link">Logout</a>
</nav>

    <div class="container-fluid col-6" >
        <label for="flights_upload" class="btn btn-success" >Load Flights</label>
        <input id="flights_upload" class="btn btn-success" type="file" accept="text/csv" name="Load flights"/>
    </div>
</body>

</html>