<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fly-Away</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="d-flex flex-row">
    <div th:replace="~{common/side-bar :: sidebar}" ></div>
    <div class="container-fluid col">
        <div th:replace="~{common/header :: header(${'Incluir Voo'})}"></div>
        <form class="container m mt-5" method="POST" th:action="@{/flight}" th:object="${flightDTO}">

            <div class="form-floating mb-3 col-3">
                <select type="text" class="form-select" aria-label="default_select" id="aircraft" th:field="*{aircraft}" >
                    <option th:value="${null}" selected>Selecione</option>
                    <option th:each="item : ${flightViewDTO.aircraftList}" th:value="${item.aircraftBadge}" th:text="${item.aircraftBrand} + ' ' + ${item.aircraftBadge}"></option>
                </select>
                <label for="aircraft">Aeronave</label>
            </div>

            <div class="form-floating mb-3 col-3">
                <select type="text" class="form-select" aria-label="default_select" id="pilot" th:field="*{pilot}" >
                    <option th:value="${null}" selected>Selecione</option>
                    <option th:each="item : ${flightViewDTO.pilotList}" th:value="${item.badge}" th:text="${item.name} + ' ' + ${item.badge}"></option>
                </select>
                <label for="pilot">Piloto</label>
            </div>

            <div class="form-floating mb-3 col-3">
                <select type="text" class="form-select" aria-label="default_select" id="origin" th:field="*{origin}" >
                    <option th:value="${null}" selected>Selecione</option>
                    <option th:each="item : ${flightViewDTO.origin}" th:value="${item.id}" th:text="${item.shortName}"></option>
                </select>
                <label for="origin">Origem</label>
            </div>

            <div class="form-floating mb-3 col-3">
                <select type="text" class="form-select" aria-label="default_select" id="destination" th:field="*{destination}">
                    <option th:value="${null}" selected>Selecione</option>
                    <option th:each="item : ${flightViewDTO.destination}" th:value="${item.id}" th:text="${item.shortName}"></option>
                </select>
                <label for="destination">Destino</label>
            </div>

            <div class="form-floating mb-3 col-3">
                <input type="date" class="form-select" aria-label="default_select" id="dt_rise" th:field="*{riseDate}">
                <label for="dt_rise">Data de Saída</label>
            </div>

            <div class="form-floating mb-3 col-3">
                <input type="date" class="form-select" aria-label="default_select" id="dt_arrive" th:field="*{arriveDate}">
                <label for="dt_arrive">Data de Chegada</label>
            </div>

            <div class="container d-flex justify-content-center">
                <button type="submit" class="btn btn-warning">Incluir</button>
            </div>

        </form>
    </div>
</div>
</body>

</html>
